<h1 align="center">Stage A Quiz - Python for Machine Learning</h1>

### Dataset - Food and Agriculture Organisation of United Nation

Note: This is not a full analysis on the dataset. The followings are based on the questions in the quiz.

In [1]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
FAO_df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin1")
FAO_df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [3]:
FAO_df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

# Q.2
**Which year had the least correlation with ‘Element Code’?**

In [4]:
FAO_df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

# Q.3
**Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?**

In [5]:
df = (FAO_df.groupby('Area')['Y2017'].count())

In [6]:
dfDict = {'Area':list(df.index),'Count':list(df.values)}
dfff = pd.DataFrame(dfDict)

In [7]:
dfff.loc[dfff['Count']== (dfff['Count'].max()), 'Area']

22    Kenya
Name: Area, dtype: object

# Q. 4
**Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?**

In [8]:
FAO_df.groupby('Element').sum().loc[['Processing'],['Y2017']]

               Y2017
Element
Processing  292836.0

# Q.5
**What is the total number and percentage of missing data in 2014 to 3 decimal places?**

In [9]:
dfIsnull =FAO_df.isnull().sum()
dfIsnull

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [10]:
dfIsnullPercent = (dfIsnull/len(FAO_df))*100
dfIsnullPercent

Area Code       0.000000
Area            0.000000
Item Code       0.000000
Item            0.000000
Element Code    0.000000
Element         0.000000
Unit            0.000000
Y2014           2.607354
Y2015           2.540078
Y2016           2.518747
Y2017           2.471162
Y2018           2.356300
dtype: float64

# Q. 9
**What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?**

In [11]:
FAO_df['Y2017'].mean()

140.917764860268

In [12]:
FAO_df['Y2017'].std()

1671.8623590572788

# Q. 10
**Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?**

In [13]:
FAO_df.groupby('Element').sum().loc[['Stock Variation'],['Y2014','Y2015','Y2016','Y2017','Y2018']]

                    Y2014     Y2015     Y2016     Y2017     Y2018
Element
Stock Variation  58749.83  34910.99  33140.12  54316.91  20577.91

# Q. 14
**What is the total number of unique countries in the dataset?**

In [14]:
FAO_df['Area'].nunique()

49

# Q. 15
**Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?**

In [15]:
area_Sr = FAO_df.groupby('Area')['Y2017'].sum()

In [16]:
areaDict = {'Area':list(area_Sr.index), 'Y2017':list(area_Sr.values)}
area_df = pd.DataFrame(areaDict, columns=['Area','Y2017'], index=[i for i in range(1,len(area_Sr)+1)])

In [17]:
lowest_7th = area_df.sort_values(by='Y2017').reset_index(drop=True).loc[7-1]
lowest_7th

Area     Guinea-Bissau
Y2017          19102.8
Name: 6, dtype: object

# Q. 16
**What is the total Protein supply quantity in Madagascar in 2015?**

In [18]:
mada_df = FAO_df.groupby(FAO_df.loc[FAO_df['Element']=="Protein supply quantity (g/capita/day)", 'Area']).sum()
mada_df.loc['Madagascar']

Area Code        14319.00
Item Code       299405.00
Element Code     74814.00
Y2014              177.79
Y2015              173.05
Y2016              173.40
Y2017              175.75
Y2018              176.64
Name: Madagascar, dtype: float64

# Q. 18
**What is the total sum of Wine produced in 2015 and 2018 respectively?**

**Hint:**

**Perform a groupby sum aggregation on ‘Item’**

In [19]:
(FAO_df.groupby('Item').sum()).tail()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [ ]:
FAO_df.groupby('Item').sum().loc[['Wine']]